@model  List<ToDo>

<div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
    <div class="add-items d-flex px-3 mb-0">
        
    </div>
    <div class="list-wrapper px-3">
        <ul class="d-flex flex-column-reverse todo-list">
            @foreach(var item in Model)
            {
                if(item.Status==true)
                {
                    <li>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">
                               @item.Description
                            </label>
                        </div>
                        <i class="remove fa fa-times-circle"></i>
                    </li>
                }
                else
                {
                    <li class="completed">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox" checked>
                                @item.Description
                            </label>
                        </div>
                        <i class="remove fa fa-times-circle"></i>
                    </li>
                }
            }
         
        </ul>
    </div>
    <div class="events py-4 border-bottom px-3">
        <div class="wrapper d-flex mb-2">
            <i class="fa fa-times-circle text-primary mr-2"></i>
            <span>Feb 11 2018</span>
        </div>
        <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
        <p class="text-gray mb-0">build a js based app</p>
    </div>
    <div class="events pt-4 px-3">
        <div class="wrapper d-flex mb-2">
            <i class="fa fa-times-circle text-primary mr-2"></i>
            <span>Feb 7 2018</span>
        </div>
        <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
        <p class="text-gray mb-0 ">Call Sarah Graves</p>
    </div>
</div>
